@import "../../../assets/styles/base/base";
@import "../../../assets/styles/libs/vars";
@import "../../../assets/styles/libs/mixins";
.filterBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 180px;
  //search bar's stylings
  > span {
    @include boxShadowGenerator($normalShadow);
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    border-radius: $normalBorderRadius;
    height: 52px;
    max-width: 445px;
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.1rem;
      margin-left: 1.2rem;
      margin-right: 1.5rem;
      height: 50%;
      width: 25px;
    }
    input {
      border: none;
      outline: none;
      background: none;
      height: 100%;
      flex-grow: 100;
      //set the font size to 16px on touch screens to prevent auto zoom behavior
      @media screen and (hover: none) {
        font-size: $detailsPage;
      }
    }
    @media screen and(min-width:930px) {
      margin-bottom: 0;
      position: absolute;
      top: 80px;
      left: 8rem;
      width: 445px;
    }
  }

  //region filter's stylings
  .regionFilter {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 118px;
    z-index: 1;
    width: 205px;
    @media screen and(min-width:930px) {
      top: 80px;
      right: 8rem;
    }
    > * {
      @include boxShadowGenerator($normalShadow);
      border-radius: $normalBorderRadius;
    }

    div {
      cursor: default;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px;

      i {
        font-size: 0.8rem;
        transition: transform 0.5s ease-in-out;
      }
    }
    button {
      height: 25px;
      width: 25px;
      border: none;
      cursor: pointer;
      outline: none;
      margin-right: 10px;
      animation-name: rotate;
      animation-duration: 0.3s;
      animation-iteration-count: 1;
    }
    ul {
      margin-top: 5px;
      padding: 0;
      animation-name: dropDown;
      animation-duration: 0.3s;
      overflow: hidden;
      li {
        cursor: pointer;
        list-style-type: none;
        text-transform: capitalize;
        padding: 10px 25px;
        &:hover {
          font-weight: $semiBoldFontWeight;
        }
      }
    }
  }
}
//filter by region's arrow icon's stylings
.arrow__Up {
  transform: rotate(-90deg);
}
.arrow__Down {
  transform: rotate(90deg);
}

//remove button's animation
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
//drop down menu's animation
@keyframes dropDown {
  from {
    height: 0;
  }
  to {
    height: 196px;
  }
}
