@import "../../../assets/styles/libs/vars";
.countryList {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  //styles for the grid system
  > div:nth-of-type(1) {
    display: grid;
    grid-row-gap: 75px;
    justify-content: center;
    width: 100%;
    @media screen and (min-width: 345px) {
      grid-template-columns: 240px;
    }
    @media screen and (min-width: 715px) {
      grid-template-columns: 240px 240px;
      justify-content: space-evenly;
    }
    @media screen and(min-width:1110px) {
      grid-template-columns: 240px 240px 240px;
    }
    @media screen and(min-width:1395px) {
      grid-template-columns: 255px 255px 255px 255px;
      column-gap: 25px;
      justify-content: space-between;
    }
  }
  .error {
    font-size: 1.07rem;
    font-weight: $semiBoldFontWeight;
    line-height: 2.5;
    margin: auto 0;
    text-align: center;
  }
}
