@import "../assets/styles/libs/vars";
@import "../assets/styles/libs/placeholders";
@import "../assets/styles/libs/mixins";
@import "../assets/styles/base/base";
@import "../assets/styles/base/fonts";

//pagination's elipsis icon's stylings
.fa-ellipsis-h {
  color: $darkGray;
}

//dark/light stylings for the app's theme
.dark {
  background: $veryDarkBlue;
  color: $white;
  * {
    color: $white;
  }
}
.light {
  background: $veryLightGray !important;
  color: $veryDarkBlue--lightMode !important;
  input {
    color: $darkGray !important;
  }
}
.darkElements {
  background: $darkBlue;
  * {
    color: $white;
  }
  input {
    &::placeholder {
      color: $white;
    }
  }
}
.lightElements {
  background: $white !important;
}
/* styles for the root element
we set the root element as a flex item
with this kind of display
we can set a specific element take the remaining height of
the screen
thanks to flex-grow ;) */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
//loading gif's styling
.loadingGif {
  width: 64px !important;
  height: 64px !important;
  margin: auto;
}
